* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    max-width: 100%;
}

body {
    background-color: #512B81;
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

table {
    width: 100%;
    background-color: #232D3F;
    color: white;
    border-collapse: collapse;
    margin: 0;
    font-size: 2em;
}

td {
    padding: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: 40px 0 0 0;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 0 0;
}

p {
    text-align: center;
    font-size: 2em;
    color: grey;
}

.grey {
    background-color: #434D5F;
}

.green {
    background-color: #03C988;
}

.red {
    background-color: #CB0000;
}

.blue {
    background-color: #166fb7;
}

/* ---------- Big Value ---------- */

.bigvalue h1 {
    padding: 10px 0 0 0;
}

.bigvalue h2 {
    padding: 10px 0 0 0;
}

/* layout */

.content {
    margin: 20px;
    /* width: 100%; */
}

.wrapper {
    padding: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/* status */

.status-title {
    grid-column: 1 / span 4;
    grid-row: 1;
    border-radius: 10px;
    /* border: 2px solid #222; */
    margin-bottom: 20px;
}

.status-title h1 {
    padding-top: 20px;
    letter-spacing: 4px;
}

.status-title p {
    padding-bottom: 20px;
    color: black;
}

.status-drive {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #232D3F;
    border-radius: 10px;
    margin-right: 10px;
}

.status-drive h2 {
    margin: 0 0 20px 0;
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: green;
    border-radius: 10px;
}

.status-charge {
    grid-column: 3 / span 2;
    grid-row: 2;
    background-color: #232D3F;
    border-radius: 10px;
    margin-left: 10px;
}

.status-charge h2 {
    margin: 0 0 20px 0;
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #CB0000;
    border-radius: 10px;
}

/* ---------- Battery Nav ---------- */

.battery-nav {
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: #232D3F;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.battery-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.battery-nav li {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.battery-nav-active {
    background-color: #434D5F;
    border-radius: 10px;
}

/* ---------- Battery wrapper ---------- */

#battery-status-wrapper {
    grid-column: 1 / span 4;
    grid-row: 2;
    /* display: grid; */
    grid-template-columns: 100%;
}

#battery-history-wrapper {
    grid-column: 1 / span 4;
    grid-row: 2;
    /* display: grid; */
    grid-template-columns: 100%;
}

#battery-settings-wrapper {
    grid-column: 1 / span 4;
    grid-row: 2;
    /* display: grid; */
    grid-template-columns: 100%;
}

/* ---------- BATTERY SUMMARY ---------- */

.battery-status {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: #232D3F;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.battery-status-kwh {
    grid-column: 1 / span 1;
    grid-row: 1;
}

.battery-status-temperature {
    grid-column: 2 / span 1;
    grid-row: 1;
}

.battery-status-soc {
    margin: 30px 0 0 0;
    grid-column: 1 / 5;
    grid-row: 2;
}

.battery-status-soc h2 {
    padding: 0 0 10px 0;
}

.battery-soc-background {
    grid-row: 2;
    background-color: grey;
    border-radius: 20px;
    margin: 0 30px 0 30px;
}
.battery-soc-fill {
    background-color: #03C988;
    border-radius: 10px;
}
.battery-soc-fill p {
    vertical-align: middle;
    color: white;
    font-size: 5em;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    margin:0;
}

/* ---------- Deltas min/avg/max ---------- */

.cell-voltages-summary {
    grid-column: 1 / 5;
    grid-template-columns: 33% 33% 33%;
    display: grid;
    grid-row: 3;
    background-color: #232D3F;
    border-radius: 10px;
    padding: 10px 0 30px 0;
    margin: 0 0 20px 0;
}

.battery-status-voltages-min {
    grid-column: 1 / span 1;
    grid-row: 1;
}

.battery-status-voltages-delta {
    grid-column: 2 / span 1;
    grid-row: 1;
}

.battery-status-voltages-max {
    grid-column: 3 / span 1;
    grid-row: 1;
}

/* ---------- Battery Pack Nav & Voltages/Temperatures Nav ---------- */

.pack-nav {
    grid-column: 1 / span 4;
    grid-row: 4;
    background-color: #232D3F;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.pack-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pack-nav li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.pack-nav-active {
    background-color: #434D5F;
    border-radius: 10px;
}


.voltage-temperature-nav {
    grid-column: 1 / span 4;
    grid-row: 5;
    background-color: #232D3F;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 50px 0;
}

.voltage-temperature-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.voltage-temperature-nav li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.voltage-temperature-nav-active {
    background-color: #434D5F;
    border-radius: 10px;
}


/* ---------- Cell Voltages ---------- */

.cell-voltages {
    grid-row: 6;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 50% 50%;
    --color: #03C988;
    margin: 0 20px 20px 0;
    padding: 0 0 0 0;
    width: 100%;
}

.cell-voltages .bar {
    --secondary-axes-color: white;
}

#cell-voltages-module-1-graph {
    grid-row: 1;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-voltages-module-2-graph {
    grid-row: 1;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

#cell-voltages-module-3-graph {
    grid-row: 2;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-voltages-module-4-graph {
    grid-row: 2;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

#cell-voltages-module-5-graph {
    grid-row: 3;
    grid-column: 1 / span 1;
    margin-right: 20px;
}

#cell-voltages-module-6-graph {
    grid-row: 3;
    grid-column: 2 / span 1;
    margin-left: 20px;
}

/* ---------- Drive Summary ---------- */

.drive-status {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 10px 0 40px 0;
    background-color: #232D3F;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-items: center;
}

.drive-status-range {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.drive-status-range h1 {
    padding-top: 10px;
}

.drive-status-whkm {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.drive-status-whkm h1 {
    padding-top: 10px;
}


/* ---------- Drive Power Graph ---------- */

.drive-status-graph {
    grid-column: 1 / span 4;
    grid-row: 2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    --color: #03C988;
    color: white;
}

.drive-status-graph .bar {
    --secondary-axes-color: white;
}

.drive-status-graph h1 {
    padding: 20px 0 30px 0;
}

#drive-power-table .column {
    /* --primary-axis-color: #166fb7; */
}

#drive-power-table tbody th {
    color: black;
}




/* ---------- Charge Nav ---------- */

.charge-nav {
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: #232D3F;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.charge-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.charge-nav li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}


/* ---------- Chademo status ---------- */

.chademo-status {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 1 / span 4;
    grid-row: 3;
    padding: 10px;
    background-color: #232D3F;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chademo-status-power {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.chademo-status-time {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.chademo-status-progress {
    grid-column: 1 / span 4;
    grid-row: 2;
}

.chademo-status-table {
    grid-column: 1 / span 4;
    grid-row: 3;
    padding: 20px;
}

.chademo-status-table table {
    margin: 20px 0 0 0;
}

.chademo-status-graph {
    grid-column: 1 / span 4;
    grid-row: 4;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 0 20px 0 20px;
}

#chademo-status-graph-table tbody th {
    color: black;
}

.chademo-status-stop {
    grid-column: 1 / span 4;
    grid-row: 5;
    padding: 20px;
}

.ccs-status {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 1 / span 4;
    grid-row: 3;
    padding: 10px;
    background-color: #232D3F;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ccs-status-time {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.ccs-status-power {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.ccs-status-progress {
    grid-column: 1 / span 4;
    grid-row: 2;
}

.ccs-status-table {
    grid-column: 1 / span 4;
    grid-row: 4;
    padding: 20px;
}

.ccs-status-table table {
    margin: 20px 0 0 0;

}

.ccs-status-stop {
    grid-column: 1 / span 4;
    grid-row: 5;
    padding: 20px;
}

.charge-status-container {
    border-radius: 10px;
    padding: 10px;
    background-color: #232D3F;
    margin: 10px 0 0 0;
}

.charge-status-container h1 {
    padding: 5px 0 5px 0;
    font-weight: 700;
}

.charge-status-container p {
    padding: 2px 0 5px 0;
}

.charge-status-container td {
    border-left: 1px solid #940B92;
    margin: auto;
    text-align: center;
    width: 50%;
}

.charge-status-container td:first-child {
    border-left: none;
}

.charge-status-time-container {
    float:left;
    width: 50%;
    padding: 20px 0 20px 0;
}

.charge-status-time-container h1 {
    padding: 0;
    font-size: 0.8em;
    color: grey;
}

.charge-status-power-container {
    float:left;
    width: 45%;
    margin: 20px 0 20px 0;
    border-left: 1px solid grey;
}

.charge-status-power-container h1 {
    font-size: 0.8em;
    color: grey;
}

.charge-progress-background {
    background-color: grey;
    border-radius: 5px;
    margin: 0 30px 0 30px;
}

.charge-progress-fill {
    background-color: #03C988;
    border-radius: 5px;
}

.charge-progress-fill p {
    color: white;
    font-size: 5em;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}

/* layout */

.nav {
    background-color: #232D3F;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
    color: white;
    padding: 20px 0 20px 0;
}

.nav-active {
    background-color: #434D5F;
    border-radius: 10px;
}

.chage-nav li {
    width: 50%;
}

.charge-nav-active {
    background-color: #434D5F;
    border-radius: 10px;
}

/* shared */

/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



/* Status */

/* Battery */

.battery-voltages {
    border-radius: 10px;
    padding: 10px;
    background-color: #232D3F;
    margin: 0px 0 10px 0;
}

.battery-voltages h1 {
    padding: 5px 0 5px 0;
    font-size: 1.2em;
    font-weight: 700;
}

.battery-voltage-bars {
    height: 100px;
    background-color:white;
    margin: 0 20px 0 20px;
    padding:1px;
}

.battery-voltage-bar {
    float: left;
    width:1%;
    background-color: #03C988;
    margin-bottom:0;
    bottom:0;
    border-right:1px solid white;
}


.table-container {
    border-radius: 10px;
    padding: 10px;
    background-color: #232D3F;
}

.table-container tr {
    border-top: 1px solid grey;
}

.table-container tr:first-child {
    border:none;
}

.button {
    background-color: #DA0C81;
    color: white;
    width: 100%;
    border-radius: 11px;
    border: 0;
    line-height: 1.5em;
    font-size: 4.5em;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}


.hidden {
    display: none;
}